[submodule "public"]
	path = public
	url = https://github.com/3gbywork/3gbywork.github.io.git
	branch = master

[submodule "jane"]
	path = themes/jane
	url = https://github.com/xianmin/hugo-theme-jane.git
	branch = master
